/* @import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css'); */
body {
  padding-top: 20px;}
.search {
  display: block;
  width: 30%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.navbar {
  background:#729f98;
}

.art-title {
  color: #231f20;
  font-size: 20px;
  font-weight: 700;
}
.artist-data {
  width: 100%;
  padding-bottom: 25px;
}

.counter-tab {
  float: left;
  width: 100%;
  padding-top: 20px;
}
.counter-tab div {
  float: left;
  width: auto;
  overflow: hidden;
  color: #aaa;
  font-size: 12px;
}

.listrap {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: default;
  width: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.listrap li {
  margin: 0;
  padding: 10px;
}

.listrap li.active,
.listrap li:hover {
  background-color: #d9edf7;
}

.listrap strong {
  margin-left: 10px;
  overflow: auto;
}

.listrap .listrap-toggle {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.img-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.play {
  margin-left: 70px;
}
.link {
  color: black;
}
.img-circle:hover {
  content: url(../src//images/play.png);
  display: inline-block;
}
.pagination {
  margin: 50px auto;
  width: 320px;
}
.search {
  display: block;
  width: 30%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media only screen and (max-width: 600px) {
  .main {
    margin-left: 55px;
  }
  .pagination {
    margin-right: 35px;
  }
  .search{
    width: 40%;
  }
}
.box_content {
  text-align: justify;
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
  background: #fff;
  color: #595959;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

ol {
  list-style: none;
  font: 15px "trebuchet MS", "lucida sans";
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  margin-left: -5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

ol ol {
  margin: 0 0 0 2em;
}

.rounded-list a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  background: #D3A05C;
  color: #000;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

 .rounded-list a:before {
  content:  "\f02b";
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  height: 39px;
  width: 39px;
  line-height: 31px;
  border: 0.3em solid #fff;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: 'Font Awesome\ 5 Free';
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
} 

 .rounded-list a:hover:before {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
} 

 .rounded-list a:hover:before {
  background: #1da7e7;
  color: #fff;
} 
